.iridescence-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.iridescence-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

